{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="col-md-7 admin-content" id="home">
            <h3 class="page-header">Cześć {{ app.user.name }}!</h3>
            <p class="text-justify">
                <br>
                Właśnie zostałeś uczestnikiem naszej platformy e-learningowej!
                Jest to forma uzupełnienia kursu, zastąpienie części ćwiczeń wykonywanych w czasie kursu ćwiczeniami wykonywanymi w formie e-lerningu.
                Masz dostęp do zestawu materiałów i elementów składowych do wykorzystania w ćwiczeniach. Możesz zapoznać się z interfejsem AutoCADa i spróbować wykonać ćwiczenia.
                Wykonaj je zgodnie z instrukcją zawartą w materiałach, a następnie umieść pracę na serwerze.
                Nasi specjaliści ocenią Twoją pracę, a wszelkie uwagi otrzymasz w formie maila lub w ramach konsultacji na zajęciach.
                Ćwiczenia umieszczone w bazie mogą być dodatkowo uzupełniane zadaniami indywidualnymi przygotowywanymi przez wykładowcę specjalnie dla danego kursu. 
            </p>
            
            <p style="color:blue; padding-top:20px;" class="text-right">
                Życzymy miłego korzystania z platformy e-learningowej. <br>Owocnej nauki!
                <br><br>
                Dziękujemy, Kompugraf!
            </p>
        </div>
    </div>

{% endblock %}










