{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="page-header">NAUKA</h3>
    
    <div class="span12 pagination-centered">
        <div class="alert alert-info">
            <strong>Przykład |</strong> Możliwość podpięcia funkcjonalności ze strony kompugrafu, nie określone w wymaganiach.
        </div>
        <iframe width="853" height="480" src="https://www.youtube.com/embed/JyE-6loC_Aw" frameborder="0" allowfullscreen></iframe>
    </div>
{% endblock %}