{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="page-header">SKONTAKTUJ SIĘ Z NAMI</h3>
    <div class="col-xs-7">
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
    </div>
{% endblock %}