{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="page-header">HARMONOGRAM</h3>

    <div class="span12 pagination-centered">
        <div class="alert alert-info">
            Możliwość podpięcia funkcjonalności ze strony kompugrafu, nie określone w wymaganiach.
        </div>
    </div>
{% endblock %}